.name-label {
  font-size: 22px;
  text-shadow: var(--label-shadow);
  font-family: 'Menlo';
}
.name-input {
  display: flex;
  padding: 10px 15px;
  height: 15px;
  width: 258px;
  border: var(--accent-border);
  border-radius: 4px;
  background-color: var(--input-bg);
  box-shadow: var(--input-box-shadow);
  margin: 5px 0 20px;
}
